<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form method="POST" action="/myForm" id="Movies">
        <textarea name="Movies" placeholder="Movies separated by comma"></textarea>
        <br>
        <input type="submit" value="Send"/>
    </form>
</body>

</html>