<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <!-- Your Code Goes Here -->
    <% if (movies.length === 0) { %>
      <h1> Movie could not be found </h1>
    <% } else { %>
      <h1><%= movies[0] %></h1>
      <p><%= movies[1] %></p>
      <a href="/" title="Home Page">Home</a>
    <% } %>
</body>

</html>